<view> 
    <app-header>
        <navi 
            rightIcon="ion-ios7-plus-empty"
            centerContent="Dettagli" 
            leftIcon="ion-ios7-arrow-back" 
            leftContent="Indietro" 
            leftPageNavi="start.html" 
            leftPageNaviType="back" 
        >
        </navi>
    </app-header>
    
    <app-content>
        
        <div style="padding:10px;margin:10px;">
        <h2>Novità introdotte dal sistema {}</h2>
        <h3>Pattern MVC</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <h3>Caching System</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <h3>Write your app very fast in the way you love and know</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        
    </app-content>
    <app-footer>
                <ul>
                    <li><a class="ion-ios7-browsers-outline"></a><label>Browser</label></li>
                    <li><a class="ion-ios7-compose-outline"></a><label>Scrivi</label></li>
                    <li><a class="ion-ios7-bookmarks-outline"></a><label>Bookmarks</label></li>
                </ul>
    </app-footer>
</view>