<view> 
    <controllers>
        <controller>
            controllerScopri.js
        </controller>
    </controllers>
    <app-header>
        <navi 
            rightIcon="ion-ios7-plus-empty"
            centerContent="Dettagli" 
            leftIcon="ion-ios7-arrow-back" 
            leftContent="Indietro" 
            leftPageNavi="start.html" 
            leftPageNaviType="back" 
        >
        </navi>
    </app-header>
    
    <app-content>
        
        <div style="padding:10px;margin:10px;">
        <h2><@=scopri.title@></h2>
        <h3>Pattern MVC</h3>
        <p><@=scopri.content@></p>
        <h3>Caching System</h3>
        <p><@=scopri.content@></p>
        <h3>Write your app very fast in the way you love and know</h3>
        
        <p><@=scopri.content@></p>
        </div>
        
    </app-content>
    <app-footer>
                <ul>
                    <li><a class="ion-ios7-browsers-outline"></a><label>Browser</label></li>
                    <li><a class="ion-ios7-compose-outline"></a><label>Scrivi</label></li>
                    <li><a class="ion-ios7-bookmarks-outline"></a><label>Bookmarks</label></li>
                </ul>
    </app-footer>
</view>